<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><title>citron</title><link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,900" rel=stylesheet><link href=http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css rel=stylesheet><link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css integrity=sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u crossorigin=anonymous><link href=/static/css/stylesheet.818abfd5d83f949a58afce91667b0d8a.css rel=stylesheet><link href=/static/css/animate.c6c1195cea1f8c360d70e46bb833520c.css rel=stylesheet></head><body><div id=app></div><script src=https://code.jquery.com/jquery-3.2.1.min.js integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin=anonymous></script><script src=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js integrity=sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa crossorigin=anonymous></script><script>$(document).ready(function(){
    $(function(){
	    var options = {
	    placement: function (context, element) {
	        var position = $(element).position();
	        console.log(position.top - $(window).scrollTop());
	        if (position.top - $(window).scrollTop() < 110){
	            return "bottom";
	        }

	        return "top";
	    }, trigger: "hover"
	};
	$('[data-toggle="tooltip"]').tooltip(options);
});
});</script><script type=text/javascript src=/static/js/manifest.98dd3b12fe9d3ad173b3.js></script><script type=text/javascript src=/static/js/vendor.adf73b3b8e7cd768e35f.js></script><script type=text/javascript src=/static/js/app.f25f168983e69188569d.js></script><script type=text/javascript src=/static/js/stylesheet.215c82ebcaee428cffad.js></script><script type=text/javascript src=/static/js/animate.6d8ef4a3382f03a25117.js></script></body></html>